
    <div class="bg-container mt-3 p-3 rounded">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="float-left">Catálogo de Productos</h2>
            </div>
            <div class="col-sm-4">
                <span>¿Qué estas buscando?</span>
                <form class="form">
                    <input class="form-control" type="search" placeholder="Buscar"/>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4" *ngFor="let producto of productos">
                <div class="card">
                    <a [title]="producto.nombre" [routerLink]="['../producto', producto.nombre]" title="Ver producto">
                    <img class="card-img-top" src="../../assets/img/{{producto.imagen}}"
                        alt="producto.nombre" /></a>
                    <div class="card-body text-muted">
                        <a [title]="producto.nombre" title="Ver producto">
                        <h4 class="card-title">{{ producto.nombre }}</h4>
                        </a>
                        <p>Precio: {{producto.precio}} ‎R$</p>
                        <p>Stock: {{producto.unidadesDisponibles}}</p>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group inline pull-left">
                                    <a [title]="producto.nombre" [routerLink]="['./producto', producto.nombre]" class="btn btn-danger btn-sm">Ver más</a>
                                </div>
                                <div class="btn-group inline pull-right">
                                    <button class="btn btn-success btn-sm">Add <i
                                            class="fa fa-shopping-cart"></i></button>
                                    <input type="number" name="producto.nombre" value="producto.unidadesDisponibles"
                                        min="1" max="producto.unidadesDisponibles" onChange={} />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

